*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 800px;
    margin: auto;
}

#design .design{
 display: flex;
    flex-direction: column;
    background-color:bisque;
}
.design .part-1{
    display: flex;
    padding: 20px;
}
.design .part-1 .left {
  flex-basis: 30%
}
.design .part-1 .left img{
    height: 150px;
    width: 150px;
}
.design .part-1 .middle{
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.design .part-1 .middle h1{
 font-size: 4rem;
    text-transform: uppercase;
}
.design .part-1 .right {
flex-basis: 35%; 
}
.design .part-1 .right img{
     height: 150px;
    width: 150px;   
}
.design .part-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.design .part-2 h1{
    font-size: 2.5rem;
}
.design .part-2 span {
    font-size: 4rem;
    text-transform: uppercase;
    color: chocolate;
}
.design .part-3,
.design .part-5{
    display: flex;
    padding: 20px 25px;
}
.design .part-3 .list,
.design .part-5 .list{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.design .part-3 .list img,
.design .part-5 .list img{
    height: 120px;
    height: 100px;
}
.design .part-4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.design .part-4 span {
    font-size: 4rem;
    text-transform: uppercase;
    color: chocolate;
}