*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    margin-left: 250px;
    background-color: rgba(0,0,0,0.234);
}

/*Side Bar Section*/

#sidebar .sidebar{
/*     background-color:darkblue;  */
    position:fixed;
    top: 0;
    left: 0;
     width: 250px;
    color: white;
    padding: 8px 25px;
    overflow-y: scroll;
    height: 1000px;
    background-color: #000;
    
}
.sidebar .sidebar-head{
    width: 100%;
    border-bottom: 2px solid white;
     margin-bottom: 20px;
}
.sidebar .sidebar-head .sidebar-img{
    width: 180px;
}
.sidebar .sidebar-head .sidebar-img img{
    width: 100%;
    border-radius: 50%;
    height: 180px;
    text-align: center;
    border:2px solid white;
    
}
.sidebar .sidebar-head .sidebar-name{
font-size: 1.8rem;
    padding: 10px 5px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Fondamento', cursive;
   
}

.sidebar .sidebar-main{
    display: flex;
    flex-direction: column;
}
.sidebar .sidebar-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 5px;
/*    border-bottom: 1px solid white;*/
/*    background-color: aqua;*/

}

.sidebar .sidebar-item i{
    padding: 0px 10px;
/*    height: 20px;*/
/*    display: inline;*/
    
}
.sidebar .sidebar-item h1{
    padding: 0px 10px;
font-size: 1.4rem;
    font-family: 'Zilla Slab', serif;
}
.sidebar .sidebar-item h1 a{
    text-decoration: none;
    color: inherit;
}
.sidebar .sidebar-item h1:hover{
    border-bottom: 1px solid white;

}

/*End side Bar Section*/

/*Home Section*/
#home{
    background-image: url(img/home-bg.jpg);
    background-position: top center;
    background-size: cover;
    min-height: 100vh; 
    width: auto;
}
#home .home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.644);
    min-height: 100vh;
    width: 100%;

}
.home .part-1{
/*    width: 100%;*/
    padding: 15px 0px;
}
.home .part-1 img{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 2px solid white;
}
.home .part-2{
    
}
.home .part-2 h1{
    font-size: 4.5rem;
    text-transform: uppercase;
    font-family: 'Fondamento', cursive;
    color: white;
    font-weight: bolder;
}
.home .part-3 {
    
}
.home .part-3 h1{
    font-size: 2.1rem;
    color: white;
    display: inline;
}
.part-3 span{
    font-size: 2.1rem;
}
.home .part-3  span::before{
content: '';
color: blueviolet;
    animation: txt_reveal infinite 4s;
/*   overflow: hidden;*/
/*    white-space: nowrap;*/
/*    border-right: 4px solid black;*/
/*    animation: typing  infinite 3s steps(4);*/
}
@keyframes txt_reveal{
    0%{
       content: 'a Web Designer'; 
         
    }
    100%{
        content: 'a Web Developer';
         
    }
}
/*
@keyframes typing{
    0%{
        width: 0px;
    }
    100%{
        width: 14px;
    }
}
*/
.home .part-4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}
.home .part-4 i{
    margin: 10px 20px;
  color:white;
    background-color: transparent;
    font-size: 2.5rem;
    padding: 15px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;

}
.home .part-5{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.home .part-5 .col-left,
.home .part-5 .col-right{
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.234);
    margin: 20px;
    background-color: blueviolet;
    border-radius: 5px;
}
.home .part-5 .col-left:hover,
.home .part-5 .col-right:hover{
  animation: button_effect 1s ease;
}
.home .part-5 .col-left h1,
.home .part-5 .col-right h1{
/* padding: 5px;*/
    text-transform: uppercase;
    color: white;
}

@keyframes button_effect{
    0%{
/*       width: 0%;*/
        background-color: blue;
    }
    50%{
/*        width: 50%;*/
        background-color: darkgreen;
    }
    100%{
/*        width: 100%;*/
        background-color: green;
        
    }
}
/*End Home Section*/


/*About Section*/
#about{
    height: 100hv;
    background-color: #353353;
    width:auto;
}
#about .about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width:100%;
    color: white;
    animation: fadeinup 1s ease forwards;
}
.about .about-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
span{
    color: chocolate;
}
.about .about-header h1{
    font-size: 4.2rem;
    text-transform: uppercase;
        text-align: center;
    padding-top: 20px;
}

.about .about-main{
    display: flex;
    flex-direction: row;
/*   overflow: hidden;*/
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 20px 25px;
    border: 1px solid rgba(0,0,0,0.234);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 8px #354344;
    color: white;
    padding: 20px 0px;
}
.about .about-main .col-left{
    margin-right: 15px;
}
.about .about-main .col-left .about-img img{
    height: 300px;
    width: auto;
    border: 20px solid white;
    border-radius: 20px;
    border-left-color:darkblue;
    border-top-color: darkblue;
}
.about .about-main .col-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about .about-main .col-right .part-1 p{
    padding: 20px 10px;
    line-height: 25px;
    font-size: 1.2rem;
    
}
.about .about-main .col-right .part-2 p{
    padding: 20px 10px;
    line-height: 25px;
    font-size: 1.2rem;
}
.about .about-main .col-right .part-3 h1{
    padding: 15px 10px;
    border: 1px solid gray;
    text-transform: uppercase;
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
    
}
.about .about-main .col-right .part-3 h1:hover{
   animation: button_effect 1s ease;
}

/*
.about .about-main .col-right p{
    padding: 20px 10px;
    line-height: 25px;
    font-weight: 500;
}
*/
.about .about-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width:95%;
    padding: 15px 20px;
    background-color: #353353;
    border: 1px solid rgba(0,0,0,0.234);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 8px #354344;
    margin: 20px 25px;
    color: white;
    font-family: 'Zilla Slab', serif;
    
}
.about .about-details .col-left{
    display: flex;
    flex-direction: column;
padding: 15px 0px;
    flex-basis: 55%;
/*    background-color: cornflowerblue*/
}

.about .about-details .col-left .item,
.about .about-details .col-right .item{
    display: flex;
    flex-direction: row;
    padding: 10px 0px;

}
.about .about-details .col-left .item .left,
.about .about-details .col-right .item .left{
  flex-basis: 30%;
    font-size: .89rem;
}
.about .about-details .col-left .item .right,
.about .about-details .col-right .item .right{
    font-size: .89rem;
}
.about .about-details .col-right{

    flex-basis: 45%;
/*    background-color: coral;*/
}

.about .achivements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    padding: 10px 20px;
    margin: 30px 25px;
}
.about .achivement-item {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
    background-color: #353353;
    border: 1px solid rgba(0,0,0,0.234);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 8px #354344;
    padding: 20px;
    flex-basis: 25%;
    color: white;
}
.about .achivement-item:hover{
    background-color: transparent;
    transform: scale(1.1);
    transition: .8s ease-in-out transform;
}
.about .achivement-item .icon img{
height: 100px;
    width: auto;
}
.about .achivement-item .amount{
padding: 10px 0px;
    font-size: 1.6rem;
    font-weight: bolder;
}
.about .achivement-item .title h1{
    padding: 10px 0px;
    font-family: 'Fondamento', cursive;
}
/*End About Section*/


/*Service Section*/
#services{
    width: auto;
    background-color: #353353;
    animation: fadeinup 1s ease forwards;
}
#services .services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 20px;
    font-family: 'Montserrat', sans-serif;
}
.services .services-header {
    padding: 20px 0px;
    color: white;
}
.services .service{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
/*    flex-basis: 30%;*/
}
.services .service .service-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 28%;
    padding: 20px;
    background-color: #353353;
    border: 1px solid rgba(0,0,0,0.234);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 8px #354344;
    color: white;
    margin: 20px;
}
.services .service .service-item .service-img img{
   height: 100px;
}
.services .service .service-item h1{
    padding: 10px 0px;
}
.services .service .service-item p{
    line-height: 1.5rem;
}
.services .services-header h1{
    font-size: 3rem;
    text-transform: uppercase;
}
/*End Service Section*/


/*Resume Section*/
#resume{
    width: auto;
/*    height: 100vh;*/
    background-color: #353353;
    animation: fadeinup 1s ease forwards ;
}
#resume .resume{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 25px 20px;
}

.resume .resume-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
}
.resume .resume-header h1{
    font-size: 3.8rem;
    text-transform: uppercase;
    color: white;
}
.resume .resume-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
/*    background-color: aqua;*/
    padding: 30px 0px;
    color: white;
}
.resume .resume-main .col-left,
.resume .resume-main .col-right{ 
    flex-basis: 50%;
    padding: 20px 25px;
    background-color: #353353;
    border: 1px solid rgba(0,0,0,0.234);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 8px #354344;
    margin: 5px 20px;
}

.resume .resume-main .col-left-header,
.resume .resume-main .col-right-header{ 
    padding: 15px 0px;
    border-bottom: 1px solid white;
}
.resume .resume-main .col-left .item,
.resume .resume-main .col-right .item{ 
    padding: 10px 10px;
    border-left: 2px solid blueviolet;
    margin: 20px 0px;
}
.resume .resume-main .col-left .item .session,
.resume .resume-main .col-right .item .session{ 
    border: 1px solid navyblue;
    width: 30%;
    padding: 8px;
    text-align: center;
    background-color: blueviolet;
    border-radius: 5px;
}
.resume .resume-main .col-left .item .session h1,
.resume .resume-main .col-right .item .session h1{
    font-size: 1.2rem;
}
.resume .resume-main .col-left .item .inst,
.resume .resume-main .col-right .item .inst{ 
    padding: 8px 0px;

}
.resume .resume-main .col-left .item .inst h1,
.resume .resume-main .col-right .item .inst h1{ 
  font-size: 1.3rem;
  font-weight: 400;
}
.resume .resume-main .col-left .item .course,
.resume .resume-main .col-right .item .course{ 
 width: auto;
    padding: 5px 0px;
   
}
.resume .resume-main .col-left .item .course h1,
.resume .resume-main .col-right .item .course h1{ 
font-size: 1.3rem;
font-weight: 500;
}

.resume .resume-skill-1{
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    
}
.resume .resume-skill-1 .col-left{
    flex-basis: 50%;
    margin: 5px 20px;
    background-color: #353353;
    border: 1px solid rgba(0,0,0,0.234);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 8px #354344;
    padding: 10px 20px;
    cursor: pointer;
}
.resume .resume-skill-1 .col-left .left-skill-header,
.resume .resume-skill-1 .col-right .right-skill-header{
    padding: 10px 0px;
    border-bottom: 1px solid white;
}
.resume .resume-skill-1 .col-left .left-skill-header i,
.resume .resume-skill-1 .col-right .right-skill-header i{
    margin-left: 8px;
    font-size: 1.8rem;
    background-color: blueviolet;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
}
.resume .resume-skill-1 .col-left .left-skill-list{
    padding: 10px 0px;
    max-height: 0px;
    overflow: hidden;
    transition: .7s ease-in-out max-height;
}
.resume .resume-skill-1 .col-right .right-skill-list{
    padding: 10px 0px;
    max-height: 0px;
    overflow: hidden;
    transition: .7s ease-in-out max-height;
}
.resume .resume-skill-1 .col-left .left-skill-list .item,
.resume .resume-skill-1 .col-right .right-skill-list .item{
    padding: 10px 0px;
}
.resume .resume-skill-1 .col-left .left-skill-list .item .main,
.resume .resume-skill-1 .col-right .right-skill-list .item .main{
    background-color: burlywood;
    width: 80%;
    height: 20px;
    border-radius: 5px;
    position: relative;
    z-index: 3;
}
.html .bar{
    width: 98%;
}
.css .bar{
    width: 95%;
}
.php .bar{
    width: 70%;
}
.js .bar{
    width: 50%;
}
/*sep*/

.english .bar{
    width: 65%;
}
.hindi .bar{
    width: 1%;
}
.bn .bar{
    width: 95%;
}
.arabic .bar{
    width: 5%;
}
.resume .resume-skill-1 .col-left .left-skill-list .item .main .bar,
.resume .resume-skill-1 .col-right .right-skill-list .item .main .bar{
    position: absolute;
    height: 100%;
/*    width: 10%;*/
    top: 0;
    left: 0;

    z-index: -1;
}
.resume .main p{
    width: auto;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}
.resume .resume-skill-1 .col-left .left-skill-list .item .main .bar::after,
.resume .resume-skill-1 .col-right .right-skill-list .item .main .bar::after{
    background-color:chartreuse;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    border-radius: inherit;
    animation: process 1.2s ease forwards;
}
.resume .resume-skill-1 .col-right{
    flex-basis: 50%;
    background-color: #353353;
    border: 1px solid rgba(0,0,0,0.234);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 8px #354344;
    padding: 10px 20px;
    margin: 10px 20px;
    cursor: pointer;
}


.resume .resume-skill-2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 20px 5px;
    color: white;
/*    height: auto;*/
}
.resume .resume-skill-2 .skill-2-col-left{
    flex-basis: 45%;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    background-color: #353353;
    border: 1px solid rgba(0,0,0,0.234);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 8px #354344;
    margin-left: 20px;
    margin-right: 35px;
}
.resume .resume-skill-2 .skill-2-col-left .header,
.resume .resume-skill-2 .skill-2-col-right .header{
    border-bottom: 1px solid white;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
}
.resume .resume-skill-2 .skill-2-col-left .main{
    padding: 20px 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.resume .resume-skill-2 .skill-2-col-left .radial-process{
    flex-basis: 40%;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.resume .resume-skill-2 .skill-2-col-left .radial-process .title{
    font-size: 1.3rem;
    letter-spacing: .1rem;
}
.radial-process .bar{
/*    background-color: aliceblue;*/
    height: 102px;
    width:102px;
/*    box-shadow: -3px -3px 7px #ffffffb2,3px 3px 5px rgba(94,104,121,0.945);*/
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border: 1px solid chartreuse;
    margin: 20px;
}
.radial-process .bar::after{
    position: absolute;
    content: '';
    height: 75%;
    width: 75%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
/*    box-shadow: -3px -3px 7px #ffffffb2,inset 3px 3px 5px rgba(94,104,121,0.945);*/
    transform: translate(-50%,-50%);
    border: 1px solid chartreuse;
}
.radial-process .bar svg{
    fill:none;
    width: 100px;
    height: 100px;
    position: relative;
}
.radial-process svg circle{
    position: absolute;
    transform: scale(.872);
    transform-origin: center;
    stroke: chartreuse;
    stroke-width: 15px;
    stroke-dasharray:314px;
    stroke-dashoffset: 314px;
/*    animation: bar 1s ease forwards;*/
}
.bar  h1{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.radial-process .design svg circle{
    animation: Designbar 1s ease forwards;
        
}
.radial-process .dev svg circle{
    animation: Devbar 1s ease forwards;
        
}
.radial-process .seo svg circle{
    animation: SEObar 1s ease forwards;
        
}
.radial-process .blogging svg circle{
   animation: Bloggingbar 1s ease forwards;
        
}
.resume .resume-skill-2 .skill-2-col-right{
    flex-basis: 40%;
/*    background-color: aqua; */
/*    padding: 10px 35px;*/
}
/*Process Bar Keyframes*/
@keyframes Designbar{
    from{
        stroke-dashoffset:314px;
    }
    to{
       stroke-dashoffset: calc(314px - (.97*314px)); 
    }
}
@keyframes Devbar{
    from{
        stroke-dashoffset:314px;
    }
    to{
       stroke-dashoffset: calc(314px - (.62*314px)); 
    }
}

@keyframes SEObar{
    from{
        stroke-dashoffset:314px;
    }
    to{
       stroke-dashoffset: calc(314px - (.35*314px)); 
    }
}

@keyframes Bloggingbar{
    from{
        stroke-dashoffset:314px;
    }
    to{
       stroke-dashoffset: calc(314px - (.78*314px)); 
    }
}


/*End Process Bar Keyframes*/
@keyframes process{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.resume .resume-skill-2 .skill-2-col-right{
    flex-basis: 50%;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #353353;
    border: 1px solid rgba(0,0,0,0.234);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 8px #354344;
    
}
.resume .resume-skill-2 .skill-2-col-right .main {
    margin-top: 20px;
    
}
.resume .resume-skill-2 .skill-2-col-right .main .list {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.resume .resume-skill-2 .skill-2-col-right .main .list i{
    
padding: 0px 10px;
}
.resume .resume-skill-2 .skill-2-col-right .main .list p{
    text-transform: capitalize;
    font-weight: 400;

}
/*End Resume Section*/

/*Portfolio Section*/
#portfolio {
    width: auto;
    background-color: #353353 ;
    color: white;
}
#portfolio .portfolio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
}
.portfolio .portfolio-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.portfolio .portfolio-header h1{
    font-size: 4.2rem;
    padding: 20px 0px;
    text-transform: uppercase;
    color: white;
}
.portfolio .portfolio-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
/*    background-color: aqua;*/
    
}
.portfolio .portfolio-main .list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
/*    background-color: aqua;*/
    padding: 20px;
    
}
/*
.portfolio .portfolio-main .list .item{
  flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    margin: 20px;
    padding: 15px 20px;
}
*/
.portfolio .portfolio-main .list .item{
  flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    margin: 20px;
    padding: 15px 20px;
    background-color: #353353;
    border: 1px solid rgba(0,0,0,0.234);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 8px #354344;
}
.portfolio .portfolio-main .list .item:hover{
    transform: scale(1.1,1.1);
    background-color:darkblue;
    transition: .7s ease-in-out transform;
}
.portfolio .portfolio-main .list .item .item-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
/*    margin: 10px 0px;*/
/*    padding: 5px 0px;*/
}

/*
.portfolio .portfolio-main .list .item .img-wrapper{
position: relative;
    height: 250px;
    width: 100%;
}
.portfolio .portfolio-main .list .item .img-wrapper .img-card {
   transform-style: preserve-3d; 
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .3s ease transform;
}
.portfolio .portfolio-main .list .item .img-card:hover   .back-img{
 transform: rotateY(180deg);
}
.portfolio .portfolio-main .list .item .img-card .front-img, 
.portfolio .portfolio-main .list .item .img-card .back-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
     backface-visibility: hidden;
   
}
.portfolio .portfolio-main .list .item .img-card .back-img{
    transform: rotateY(180deg);
}
*/
.portfolio .portfolio-main .list .item .img{
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
}
.portfolio .portfolio-main .list .item .img img{
    height: 250px;
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
}
.portfolio .portfolio-main .list .item .header h1{
        font-size: 2rem;
        text-transform:capitalize;
        font-family: 'Galada', cursive;
        font-weight: 300;
}
.portfolio .portfolio-main .list .item .item-main  .lang  {
/*   width: 80%;*/
}
.portfolio .portfolio-main .list .item .item-main  .lang h1{
   font-family: 'Bree Serif', serif;
    padding: 10px 0px;
    letter-spacing: .1rem;
/*    flex-basis: 80%;*/
}
.portfolio .portfolio-main .list .item .item-main  .explore {
    padding: 10px;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.portfolio .portfolio-main .list .item .item-main  .explore:hover {
    background-color: black;
    cursor: pointer;
}
/*End Portfolio Section*/

/*Contact Sectioon*/
#contact{
    background-color: #353353;
    width: auto;
    color: white;
    padding: 20px 25px;
}
#contact .contact{
    display: flex;
    flex-direction: row;
    
}
.contact .col-left{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #353353;
    border: 1px solid rgba(0,0,0,0.234);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 8px #354344;
}
.contact .col-left .part-1{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
}
.contact .col-left .part-1 .left,
.contact .col-left .part-1 .right{
   flex-basis: 50%;
    margin: 5px 0px;
    border-bottom: 1px solid white;
}
.contact .col-left .part-1 .left{
    margin-right: 25px;
}
.contact .col-left .part-1 .left input,
.contact .col-left .part-1 .right input,
.contact .col-left .part-1 .left input:focus,
.contact .col-left .part-1 .right input:focus{
  height: 50px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent;
    border-bottom: 0px;
    width: 100%;
    
}
.contact .col-left .part-1 .left input[type="text"],
.contact .col-left .part-1 .right input[type="email"]{
    color: white;
  
}

.contact .col-left .part-2{
    width: 97%;
    border-bottom: 1px solid white;
    margin: 5px auto;
}
.contact .col-left .part-2 input{
     height: 60px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent;
    border-bottom: 0px;
    width: 100%
}

.contact .col-left .part-3{
     width: 97%;
    border-bottom: 1px solid white;
    margin: 10px auto;
}
.contact .col-left .part-3 textarea{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent;
    border-bottom: 0px;
    width: 100%
}
.contact .col-left .part-4 {
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.contact .col-left .part-4 h1 {
   text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px 0px;
    width: 80%;
    text-align: center;
    background-color: blueviolet
}
.contact .col-left .part-4 h1:hover {
    background-color:cornflowerblue;
    cursor: pointer;
}
.contact .col-right{
    display: flex;
    flex-direction:column;
    padding: 20px 0px;
/*    width: 50%*/
    flex-basis: 40%;
    margin-left: 35px;
    background-color: #353353;
    border: 1px solid rgba(0,0,0,0.234);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 8px #354344;
    padding: 0px 20px;
    
}
.contact .col-right .part-1{
    border-bottom: 1px solid white;
    margin: 10px 0px;
}
.contact .col-right .part-1 h1{
    text-transform: uppercase;
    padding: 5px 0px;
 font-family: 'Archivo Narrow', sans-serif;
    
}
.contact .col-right .part-2{
    
    margin: 10px 0px;
}
.contact .col-right .part-2 h1{
    text-transform: uppercase;
    padding: 5px 0px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
.contact .col-right .part-3{
/*    border-bottom: 1px solid white;*/
    margin: 10px 0px;
}
.contact .col-right .part-3 h1{
    text-transform: uppercase;
    padding: 5px 0px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
.contact .col-right .part-4{
/*    border-bottom: 1px solid white;*/
    margin: 10px 0px;
}
.contact .col-right .part-4 h1{
    text-transform: uppercase;
    padding: 5px 0px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
.contact .col-right .part-5{
/*    border-bottom: 1px solid white;*/
    margin: 10px 0px;
}
.contact .col-right .part-5 h1{
    text-transform: uppercase;
    padding: 5px 0px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
.contact .col-right .part-6{
/*    border-bottom: 1px solid white;*/
    margin: 10px 0px;
}
.contact .col-right .part-6 h1{
    text-transform: uppercase;
    padding: 5px 0px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
/*End Contact Section*/





/*Media Query For Tablet*/
@media only screen and (max-width: 800px){
    .container{
        margin-left: 0px;
    }
    .hamburger{
        position: fixed;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 2.5rem;
        color: white;
        z-index: 5;
        text-decoration: none;
    }
    .hamburger .fa-times  {
        display: none;
    }
    .hamburger .fa-bars  {
        position: sticky;

    }
    #sidebar .sidebar{
        position: absolute;
        left: -350px;
        top: 0;
        opacity: 0;
    }
    #home .home .part-2 h1{
        font-size: 2.1rem;
    }
    #home .home .part-3 h1{
        font-size: 1.3rem;
    }
    #home .home .part-4 i{
        font-size: 1.3rem;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
    }
    .home .part-5 {
        display: flex;
        flex-direction: column;
    }
    
.home .part-5 .col-left ,
.home .part-5 .col-right {
       padding: 8px;
    cursor: pointer;
    margin: 8px 0px;
    }
 .home .part-5 .col-left h1,
.home .part-5 .col-right h1{
        font-size: 1.2rem;
/*    padding: 5px;*/
    }
    #about .about {
        border: 0px; 
    }
   #about .about-header h1{
        font-size: 2.1rem;
     
        
    }
  #about .about-header h1{
        font-size: 2.1rem;
     
        
    }
    #about .about .about-main,
    #about .about .about-details{
        display: flex;
        flex-direction: column;
        border: 0px;
        box-shadow: 0px 0px 0px 0px black;
        padding: 0px;
        margin: 8px auto;
        
    }
    #about .about .about-details h1{
        font-size: 1rem;
    }
    #about .about-main .col-right .part-3{
/*     flex-basis: 50%      */
        margin: auto;
    }
    #about .about-main .col-right .part-3 h1{
 font-size: 1.2rem;
    }
#about .about .about-details .col-left{
       display: flex;
    flex-wrap: nowrap;
    }
    
#about .about .about-details .col-left .left{
  margin:0px 15px;
    }

   #about .about .about-details .col-right .part-3{
           
    }
     #about .about .about-details .col-right .left{

        margin: 0px 15px;
    }
    #about .achivements{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
    }
        #about .achivement-item{
        border: 1px solid gray;
        box-shadow: 0px 0px 0px 0px black;
            flex-basis: 100%;
        
    }
    
    #services .services{
        
    }
    
    #services .service{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #services .services-header h1{
        font-size: 2.1rem;
    }
    
    #services .service-item{
    flex-basis: 100%;
        border: 1px solid grey;
        box-shadow: 0px 0px 0px 0px black;
    }
    
    #resume .resume-header h1{
        font-size: 2.1rem;
    }
    
        
    #resume .resume .resume-main{
    display: flex;
        flex-direction: row;
    flex-wrap: wrap;
        
    }
    
    #resume .resume .resume-main .col-left{
 flex-basis: 100%;
    margin-bottom: 35px;
        border: 1px solid grey;
        box-shadow: inherit;
    }

    #resume .resume .resume-main .col-left .inst h1{
        font-size: 1.2rem;
        font-weight: 500;
    }

    #resume .resume .resume-main .col-left .session h1{
        font-size: 1rem;
        font-weight: 300;
    }
    #resume .resume .resume-main .col-left .course h1{
        font-size: 1.2rem;
    }
    #resume .resume .resume-main .col-left .session,
    #resume .resume .resume-main .col-left .inst,
    #resume .resume .resume-main .col-left .course,
    #resume .resume .resume-main .col-right .session,
    #resume .resume .resume-main .col-right .inst,
    #resume .resume .resume-main .col-right.course{
       width: 100%;
    }
    #resume .resume .resume-main .col-right{
     flex-basis: 100%;
    border: 1px solid grey;
    box-shadow: inherit;

    }
    #resume .resume .resume-main .col-right .session h1{
        font-size: 1rem;
        font-weight: 300;
    }
    #resume .resume .resume-skill-1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #resume .resume .resume-skill-1 .col-left{
      flex-basis: 100%;
        margin-bottom: 45px;
        border: 1px solid grey;
        box-shadow: inherit;
    }
    
   #resume .resume .resume-skill-1 .col-right{
      flex-basis: 100%;
       margin-bottom: 45px;
        border: 1px solid grey;
        box-shadow: inherit;
    }
    #resume .resume .resume-skill-1 .col-left .left-skill-list .item .main,
    #resume .resume .resume-skill-1 .col-right .right-skill-list .item .main{
        width: 100%;
    }
   #resume .resume .resume-skill-1 .col-left .left-skill-list .item .title h1,
    #resume .resume .resume-skill-1 .col-right .right-skill-list .item .title h1{
     font-size: 1rem;
    }
   #resume .resume .resume-skill-1 .col-left .left-skill-list .item .title h1{
     
    }
    
    #resume .resume .resume-skill-2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;  
        width: 100%;
    }
    
    #resume .resume .resume-skill-2 .skill-2-col-left{
      flex-basis: 100%;
        border: 1px solid grey;
        box-shadow: inherit;
        margin: 45px auto;
    }
    #resume .resume .resume-skill-2 .skill-2-col-left .main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #resume .resume .resume-skill-2 .skill-2-col-left .main .radial-process{
/* flex-basis: 20%;*/
        margin: auto;
    }
    #resume .resume .resume-skill-2 .skill-2-col-left .main .radial-process:nth-child(2) .title{
  font-size: .9rem;
        text-align: justify;
    }
    
   #resume .resume .resume-skill-2 .skill-2-col-right{
      flex-basis: 90%;
       margin-bottom: 45px;
       box-shadow: inherit;
       border: 1px solid grey;
       margin: auto;
       padding: 5px 3px;
/*       width: 85%;*/
           
    }
    
    #resume .resume .resume-skill-2 .skill-2-col-right p{
       font-size: .9rem; 
        text-align: justify;
    }
    #portfolio .portfolio {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: auto;

    }
    #portfolio .portfolio-header h1{
      font-size: 2.1rem;

    }
        #portfolio .portfolio-main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        width: 100%;
            margin: auto;
    }
    #portfolio .portfolio .list{
      flex-basis: 100%;
    }
    
   #portfolio .portfolio .list .item{
      flex-basis: 80%;
       margin: 45px auto;
        box-shadow: inherit;
       border: 1px solid grey;
       
    }
    #portfolio .portfolio .list .item .header h1{
        font-size: 1.4rem
    }
    #portfolio .portfolio .list .item .lang h1{
        font-size: 1rem
    }
     #portfolio .portfolio .list .item:hover{
         transform: scale(1,1);
         background-color:black;
    }
    #portfolio .portfolio .list .item .explore{
   
     margin: 8px 0px;

    }
    
  #contact .contact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 

    }
    
    #contact .contact .col-left{
      flex-basis: 90%;
/*        margin-bottom: 45px;*/
        margin: 45px auto;
        box-shadow: inherit;
       border: 1px solid grey;
    }
    
    #contact .contact .col-right{
      flex-basis: 80%;
        margin: 5px auto;
        box-shadow: inherit;
       border: 1px solid grey;
    }
}
/*End Media Query For Tablet*/


/*Media query For smaller devices */
@media only screen and (max-width: 400px){
    #services .service-item h1{
  font-size: 1rem;
        font-weight: bolder;
    }
    
    
    #portfolio .portfolio .list {
        margin:  0px;
        width: 90%;
    }
    #portfolio .portfolio .list .item{
        margin: inheritauto;
    }
 #portfolio .portfolio .list .item:nth-child(1) .lang h1,
#portfolio .portfolio .list .item:nth-child(6) .lang h1{
        font-size: .6rem;
        text-align: justify;
     line-height: 30px;
    }
    #portfolio .portfolio .list .item .explore{
   
     margin: 8px 0px;

    }
 #portfolio .portfolio .list .item .explore h1{
        font-size: 1rem;
   

    }
    
    #contact .contact {
      width: 95%;
        margin: 5px auto;
        box-shadow: inherit;
/*       border: 1px solid grey;*/
    }
    #contact .contact .col-right {
      width: 100%;
        margin: 25px auto;
        box-shadow: inherit;
       border: 1px solid grey;
    }
    #contact .contact .col-right h1 {
  font-size: 1rem;
    }
    #contact .contact .col-left .part-4 h1{
 font-size: 1rem;
    }
    
}
/*End Media query For smaller devices */
@keyframes fadeinup{
    0% {
    -webkit-transform: translate3d(0,100%,0);
    opacity: 0;
    transform: translate3d(0,100%,0);
}

100% {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
}
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
/*  border: none;*/
  outline: none;
  background-color:blueviolet;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
    height: 80px;
    width: 80px;
}

#myBtn:hover {
  background-color: #555;
}